

.Form-Div {
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%,-50%);
    border: 5px solid black;

    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items : center;

    overflow-y: auto;

}